<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

{{!-- Navigation links --}}
<nav>
    <h4>Node MySQL Login</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>

{{!-- Body of each page will go here --}}
{{!-- Body --}}
<div>
    <div>
        <h1>My Login Project</h1>
        <p>This project demonstrates how to implement login and register functionalities with Node.js and MySQL </p>
    </div>
</div>
</body>
</html>