<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

{{!-- Navigation links --}}

<nav>
    <h4>Navigation: </h4>
    <ul>
        <li><a href="/">Home</a></li>
        {{#if loggedIn}}
            <li><a href="/logout">logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</nav>

{{!-- Body --}}

<div>
    <div>
        {{#if loggedIn}}
            <h1>My Luke Project</h1>
            <p>This is a multifaceted project for my friend luke, made for the purpose of improving my ability to code larger projects</p>
        {{else}}
            <h1>please login</h1>
            <p>This is a page that will only display if you have failed to login to demonstrate alternative text</p>
        {{/if}}
    </div>
</div>
</body>
</html>