<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

{{!-- Navigation links --}}
<nav>
    <h4>Node MySQL Login</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>

{{!-- Body of each page will go here --}}

<form action="/auth/register" method="POST">
    <h2>Register</h2>
    <div class="input-field">
        <input type="text" name="username" id="username" placeholder="Enter Username">
    </div>
    <div class="input-field">
        <input type="text" name="Email" id="email" placeholder="Enter Email">
    </div>
    <div class="input-field">
        <input type="password" name="password" id="password" placeholder="Enter Password">
    </div>
    <input type="submit" value="LogIn">
</form>
{{#if message }}
    <h4>{{message}}</h4>
{{/if}}
</body>
</html>